.labelObat {
    width: 180px;
    clear: left;
    text-align: left;
    padding-right: 10px;
}

.inputObat,
.labelObat {
    float: left;
}

.inputObat {
    width: 250px;
}

#submitObat {
    margin-top: 110px;
    margin-left: 0px;
}

.btnUpdDel {}

.btnUpd,
.btnDlt {
    width: fit-content;
    display: inline-block;
}