body {
    background-color: #F4F6F9 !important;
}

.table thead select {
    border: none;
    background-color: inherit;
    font-weight: bold;
}

thead .action {
    text-align: center;
}

tr .action {
    margin: auto;
}

.bg-form {
    width: 950px;
    height: auto;
    background-color: white;
    margin: 0px 20px 10px 10px;
    box-sizing: border-box;
    padding: 30px;
}

.title-form {
    text-align: left;
    /* margin-right: 40px; */
}

.tf1 {
    font-size: 50px !important;
    margin: 20px 30px 30px 0px !important;
}

.tf2 {
    font-size: 40px;
    margin: 20px 30px 30px 0px;
    /* margin: 30px; */
}

.form-control {
    border: 1px solid black !important;
}

.select {
    background-color: white !important;
    border: 1px solid black !important;
    width: inherit !important;
    height: 40px !important;
    border-radius: 5px !important;
}


.submitObat {
    background-color: #198754;
    color: white;
}

.labelObat {
    width: 180px;
    clear: left;
    text-align: left;
    padding-right: 10px;
}

.inputObat,
.labelObat {
    float: left;
}

.inputObat {
    width: 250px;
}

.inputCari {
    margin-right: 0px;
}



.btnUpd,
.btnDlt {
    width: fit-content;
    display: inline-block;
}

/* modal */

.modal .modal-title {
    margin-right: 0;
    padding-top: 0;
}

h6 {
    margin-left: 0px;
    padding-top: 10px;
}