.boxQC1 {
    background-color: #50D9B6;
}

.boxQC2 {
    background-color: #8cc2ee;
}

.boxQC3 {
    background-color: #FFD664;
}

.boxQC4 {
    background-color: #B5EC82;
}

.boxQC5 {
    background-color: #FFEDE0;
}

.boxQC6 {
    background-color: #9a9aff;
}

.boxQC {
    height: 200px;
    margin: 20px;
    cursor: pointer;
}

.boxQC p {
    font-size: 30px;
    font-weight: 500;
    margin-top: 60px;
    padding-left: 20px;
}

.boxQC .icon {
    float: right;
    margin-top: -90px;
    margin-right: 30px;
}

.boxQC .icon img {
    width: 100px;
}